PORT=3002
MONGO_URL=your_mongodb_connection_string
SESSION_SECRET=your_secret_key_here
FRONTEND_URL=https://your-frontend-vercel-domain.vercel.app
DASHBOARD_URL=https://your-dashboard-vercel-domain.vercel.app
